class Utisuna < Formula
  desc "Set the default app for the content type of a sample file"
  homepage "https://github.com/rioriost/utisuna"
  url "https://github.com/rioriost/utisuna/releases/download/{{VERSION}}/utisuna-{{VERSION}}-macos.zip"
  sha256 "{{SHA256}}"
  version "{{VERSION}}"

  def install
    bin.install "utisuna-#{version}/utisuna" => "utisuna"
  end

  test do
    assert_match "Set the default app for the content type of a sample file",
                 shell_output("#{bin}/utisuna --help")
  end
end
